body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #fff;
}

a {
	color: #00B7FF;
}

nav.bg-fithlon {
	background-color:#eeeeee;
	box-shadow: 0px 1px 5px #0076b4;
}

.btn-blue {
	background-color: #0076b4;
	box-shadow: 0px 1px 3px #0076b4;
	color: #dbd9d9;
}

.btn-white {
	box-shadow: 0px 1px 3px #0076b4;
	color: #131212;
}

.card-imc {
	margin-top: 1.9em;
	width: 18em;
}