<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head.ejs') %>
		<title><%= title %> - Fithlon</title>
	</head>
	<body>
		<%- include('partials/nav.ejs') %>

		<div class="container p-3 p-md-5">
			<%- include(`partials/${page}.ejs`)%>
		</div>
	</body>
</html>