<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<canvas id="myChart" width="400" height="400"></canvas>
				<script>
				var tableau = <%- JSON.stringify(allDatas) %>;
				console.log(tableau);
				var tableauIMC = [];
				var tableauDate = [];
				tableau.forEach( element => {
					tableauDate.push(element.date);
					tableauIMC.push(element.bmi);
				});
		
				var ctx = document.getElementById("myChart").getContext("2d");
				var chart = new Chart(ctx, {
					type: "line",
		
					data: {
						labels: tableauDate,
						datasets: [{
							label: "Votre IMC par jour rentré",
							backgroundColor: "#000",
							borderColor: "#000",
							data: tableauIMC,
							fill: false
						}, {
							label: "Maigreur sévère",
							backgroundColor: "#999999",
							borderColor: "#4d4d4d",
							data: Array(tableauIMC.length).fill(16.0)
						}, {
							label: "Maigreur",
							backgroundColor: "#a6a6a6",
							borderColor: "#686868",
							data: Array(tableauIMC.length).fill(17.0)
						}, {
							label: "Léger sous-poids",
							backgroundColor: "#cccccc",
							borderColor: "#808080",
							data: Array(tableauIMC.length).fill(18.5)
						}, {
							label: "Corpulance normale",
							backgroundColor: "#8cd98c",
							borderColor: "#44c144",
							data: Array(tableauIMC.length).fill(24.9)
						}, {
							label: "Surpoids",
							backgroundColor: "#f3f38c",
							borderColor: "#ecec46",
							data: Array(tableauIMC.length).fill(29.9)
						}, {
							label: "Obésité modérée",
							backgroundColor: "#ffdd80",
							borderColor: "#ffbc00",
							data: Array(tableauIMC.length).fill(34.9)
						}, {
							label: "Obésité sévère",
							backgroundColor: "#fcb782",
							borderColor: "#f56d05",
							data: Array(tableauIMC.length).fill(39.9)
						}, {
							label: "Obésité massive",
							backgroundColor: "#f79888",
							borderColor: "#f04a2d",
							data: [Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5), Math.floor(Math.max(...tableauIMC)+5)]
						}]
					},
		
					// Configuration options go here
					options: {
						scales:{
							yAxes : [{
								ticks: {
									min:Math.floor(Math.min(...tableauIMC)-5),
									max:Math.floor(Math.max(...tableauIMC)+5),
								}
							}]
						}
					}
				});
				</script>
			</div>
		</div>
	</div>
</div>
