<% 
	if (locals.session.name) { %>
		<div class="alert alert-success">Bonjour <b><%=session.name%></b> ! Vous êtes connecté. </div>
	<% }
	else if (statusVar == "logout") { %>
		<div class="alert alert-success"><b>À bientôt !</b> Vous êtes déconnecté</div>
	<% }
	else if (statusVar == "error") 
	{ %>
		<div class="alert alert-danger">
			<b>Erreur.</b> L'identifiant n'existe pas ou le mot de passe est incorrect
		</div>
	<% }
%> 

<div class="row">
	<div class="col-md-6">
		<h6>Saisir votre poids et taille.</h6>
		<form id="formData" method="post" action="/sendData">
			<div class="form-row">
				<input name="poids" id="poids" type="text" class="form-control" placeholder="Poids">
			</div>
			<div style="line-height:75%;">
				<br>
			</div>
			
			<div class="form-row">
				<input name="taille" id="taille" type="text" class="form-control" placeholder="Taille">
			</div>
			
			<div style="line-height:75%;">
				<br>
			</div>
			<button id="boutonIMC" type="submit" class="btn btn-blue">Calculer votre IMC</button>
			<input name="imc" id="imc" type="hidden">
		</form>
	</div>

	<div class="col-md-6">
		<div class="card card-imc">
			<div class="card-body">
				<h6 class="card-title">IMC</h6>
				<p class="card-text" name="valeurIMC" id="valeurIMC"></p>
				<p class="card-text" id="categorieIMC"></p>
			</div>
		</div>
	</div>
</div>

<%
	if (locals.session.allDataSession != undefined) {
		console.log(locals.session.allDataSession);
	}
%>

<script src="/javascripts/calculIMC.js"></script>