<%	// Si l'inscription à fonctionné
	if (emailVar == "inscriptionWorked")
	{ %>
		<div class="alert alert-success"><b>Vous êtes bien inscrit</b></div>
	<% }
	else if (emailVar == "alreadyDB")
	{ %>
		<div class="alert alert-danger">
			<b>Erreur.</b> L'adresse email est déjà utilisée
		</div>
	<% }
%>

<h2>Création d'un compte</h2>

<!-- Ajouter la barre de progression -->
<div class="progress">
	<div id="progressBarForm" class="progress-bar progress-bar-striped" style="width: 0%"></div>
</div>
<br/>
<!-- Ajouter le formulaire d'inscription -->
<form id="sign" method="post" action="/inscription">
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="lastname">Nom</label>
			<!-- L'attribut name pour qu'on puisse le récupérer en nodejs -->
			<input name="lastname" id="lastname" type="text" class="form-control signForm" placeholder="Nom">
		</div>
		<div class="form-group col-md-6">
			<label for="firstname">Prénom</label>
			<input name="firstname" id="firstname" type="text" class="form-control signForm" placeholder="Prénom">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md">
			<label for="email2">Adresse mail</label>
			<input name="email2" id="email2" type="email" class="form-control signForm" placeholder="Adresse mail">
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="password2">Mot de passe <span class="smalltext">(minimum 6 caractères)</span></label>
			<input name="password2" id="password2" type="password" class="form-control signForm" placeholder="Mot de passe">

			<!-- On met visibility:hidden au lieu de display:block pour le javascript -->
			<div id="progresspassword" style="visibility: hidden" class="progress">
				<div class="progress-bar bg-success" style="width: 0%"></div>
			</div>
			<span id="passwordStrengthText" style = "display:none" class="text-success smalltext">Force du mot de passe excellente.</span>
		</div>
		<div class="form-group col-md-6">
			<label for="password3" style="color: transparent">Mot de passe</label>
			<input id="password3" type="password" class="form-control signForm" placeholder="Confirmez le mot de passe">
		</div>
	</div>

	<div class="form-check">
		<input class="form-check-input signForm" type="checkbox" value="" id="defaultCheck1">
		<label class="form-check-label" for="defaultCheck1">
			Je confirme ces informations
		</label>
	</div>
	<br/>
	<div class="form-row">
		<button id="submitButtonForm" type="submit" class="btn btn-secondary btn-blue">
			Inscription
		</button>
	</div>
</form>

<script src="/javascripts/checker.js"></script> 
<script src="/javascripts/feedback.js"></script> 
<script src="/javascripts/sign.js"></script> 