<nav class="navbar navbar-expand navbar-dark bg-fithlon">
	<a class="navbar-brand" href="/" style="padding-left: 1%;">
		<img src="/image/logoFithlon.png" height="30" alt="LogoFithlon">
	</a>

	<div>
		<%
		if (locals.session.name)
		{ %>
			<div class="btn-group">
				<a class="btn btn-outline-secondary" href="/historique">
					<i class="fas fa-chart-line"></i> Historique
				</a>
			</div>

			<div class="btn-group">
				<a class="btn btn-outline-secondary" href="/deconnexion">
					<i class="fas fa-sign-out-alt"></i> Se déconnecter
				</a>
			</div>
		<% }
		else
		{ %>
			<!-- Bouton modal -->
			<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#compteModal">
				<i class="fas fa-user"></i> Compte
			</button>

			<!-- Modal code -->
			<div class="modal fade" id="compteModal" tabindex="-1" role="dialog" aria-labelledby="compteModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="compteModalLabel">Compte</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container">
								<form method="post" id="connexion" action="/connexion">
									<div class="form-row">
										<input name="email" id="email" type="email" class="form-control" placeholder="Identifiant">
									</div>
									<br/>
									<div class="form-row">
										<input name="password" id="password" type="password" class="form-control" placeholder="Mot de passe">
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button form="connexion" type="submit" class="btn btn-scondary btn-blue">
								Connexion
							</button>
							<a href="/inscription" class="btn btn-outline-secondary btn-white">
								Inscription
							</a>
						</div>
					</div>
				</div>
			</div>

		<% }
	%>

	</div>

</nav>